n8n/[RunRun] Running Tasks_ PAUSE task_events - WebHook.json
{
  "name": "[RunRun] Running Tasks: PAUSE task_events - WebHook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "22ff3919-c8bc-4fe6-920d-f328ae7df40f",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        240
      ],
      "id": "3138998a-98a0-4be6-8c8e-1c48d215a261",
      "name": "PAUSE",
      "webhookId": "22ff3919-c8bc-4fe6-920d-f328ae7df40f"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "runrun_raw",
          "mode": "list",
          "cachedResultName": "runrun_raw"
        },
        "table": {
          "__rl": true,
          "value": "task_events",
          "mode": "list",
          "cachedResultName": "task_events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.body.event }}",
            "task_id": "={{ $json.body.data.task.id }}",
            "happened_at": "={{ $json.body.happened_at }}",
            "payload": "={{JSON.stringify($json.body)}}",
            "event_type": "pause"
          },
          "matchingColumns": [
            "event",
            "task_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event",
              "displayName": "event",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "happened_at",
              "displayName": "happened_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        112,
        240
      ],
      "id": "a086b5c8-764f-4d36-91d5-2a1d8b362691",
      "name": "INSERT PAUSE: TASK_EVENTS",
      "credentials": {
        "postgres": {
          "id": "Jztz3shgyqyCJR7y",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into runrun_staging.task_events (\n    raw_id,\n    task_id,\n    user_id,\n    user_email,\n    performer_id,\n    performer_email,\n    event_type,\n    happened_at,\n    board_id,\n    title,\n    time_worked,\n    custom_label,\n    created_at\n)\nselect\n    r.id,\n    r.task_id,\n    r.payload #>> '{data,task,user,id}',\n    r.payload #>> '{data,task,user,email}',\n    r.payload #>> '{performer,id}',\n    r.payload #>> '{performer,email}',\n    r.event_type,\n    (r.payload #>> '{happened_at}')::timestamptz,\n    (r.payload #>> '{data,task,board,id}')::bigint,\n    r.payload #>> '{data,task,title}',\n    (r.payload #>> '{data,task,time_worked}')::bigint,\n    r.payload #>> '{data,task,custom_fields,custom_193,label}',\n    r.created_at\nfrom runrun_raw.task_events r\nleft join runrun_staging.task_events s\n    on s.raw_id = r.id\nwhere s.raw_id is null;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        336,
        240
      ],
      "id": "6d3215f4-434a-4465-abde-0e11be0524ec",
      "name": "STAGING_PAUSE",
      "credentials": {
        "postgres": {
          "id": "Jztz3shgyqyCJR7y",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kYD15V7Znh5af7Yq",
          "mode": "list",
          "cachedResultUrl": "/workflow/kYD15V7Znh5af7Yq",
          "cachedResultName": "[RunRun] [Tasks Working On Guarantee]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        560,
        240
      ],
      "id": "818ff6a6-bd08-4034-909c-b501381c4b6c",
      "name": "Call '[RunRun] [Tasks Working On Guarantee]'"
    }
  ],
  "pinData": {},
  "connections": {
    "PAUSE": {
      "main": [
        [
          {
            "node": "INSERT PAUSE: TASK_EVENTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT PAUSE: TASK_EVENTS": {
      "main": [
        [
          {
            "node": "STAGING_PAUSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAGING_PAUSE": {
      "main": [
        [
          {
            "node": "Call '[RunRun] [Tasks Working On Guarantee]'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '[RunRun] [Tasks Working On Guarantee]'": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "af50da8b-5e5f-4466-95ec-3346585ed462",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5b98fa47ce01e3746cd403cb73e594cf1b27444e7eeb743ddda121d0332c710"
  },
  "id": "qdr-yF9tsjFsuX8kTy4AR",
  "tags": []
}