n8n/[RunRun] Running Tasks_ PLAY task_events - WebHook.json
{
  "name": "[RunRun] Running Tasks: PLAY task_events - WebHook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4ba2d77f-ee41-4c5a-95f8-fb4fe4c7ac8a",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        0
      ],
      "id": "249b9c14-4865-4225-bfa7-d27b0af0955a",
      "name": "PLAY",
      "webhookId": "4ba2d77f-ee41-4c5a-95f8-fb4fe4c7ac8a"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "runrun_raw",
          "mode": "list",
          "cachedResultName": "runrun_raw"
        },
        "table": {
          "__rl": true,
          "value": "task_events",
          "mode": "list",
          "cachedResultName": "task_events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event": "={{ $json.body.event }}",
            "task_id": "={{ $json.body.data.task.id }}",
            "happened_at": "={{ $json.body.happened_at }}",
            "payload": "={{JSON.stringify($json.body)}}",
            "event_type": "play"
          },
          "matchingColumns": [
            "event",
            "task_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event",
              "displayName": "event",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "happened_at",
              "displayName": "happened_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        112,
        0
      ],
      "id": "a936fce5-3719-4703-835b-d8526ba021d1",
      "name": "INSERT PLAY: TASK_EVENTS",
      "credentials": {
        "postgres": {
          "id": "Jztz3shgyqyCJR7y",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into runrun_staging.task_events (\n    raw_id,\n    task_id,\n    user_id,\n    user_email,\n    performer_id,\n    performer_email,\n    event_type,\n    happened_at,\n    board_id,\n    title,\n    time_worked,\n    custom_label,\n    created_at\n)\nselect\n    r.id,\n    r.task_id,\n    r.payload #>> '{data,task,user,id}',\n    r.payload #>> '{data,task,user,email}',\n    r.payload #>> '{performer,id}',\n    r.payload #>> '{performer,email}',\n    r.event_type,\n    (r.payload #>> '{happened_at}')::timestamptz,\n    (r.payload #>> '{data,task,board,id}')::bigint,\n    r.payload #>> '{data,task,title}',\n    (r.payload #>> '{data,task,time_worked}')::bigint,\n    r.payload #>> '{data,task,custom_fields,custom_193,label}',\n    r.created_at\nfrom runrun_raw.task_events r\nleft join runrun_staging.task_events s\n    on s.raw_id = r.id\nwhere s.raw_id is null;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        336,
        0
      ],
      "id": "06c22b6c-7e68-45fd-9f5e-d49eb244fcc4",
      "name": "STAGING_PLAY",
      "credentials": {
        "postgres": {
          "id": "Jztz3shgyqyCJR7y",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kYD15V7Znh5af7Yq",
          "mode": "list",
          "cachedResultUrl": "/workflow/kYD15V7Znh5af7Yq",
          "cachedResultName": "[RunRun] [Tasks Working On Guarantee]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        560,
        0
      ],
      "id": "c1a92f98-288d-4083-8988-e622391ba2bf",
      "name": "Call '[RunRun] [Tasks Working On Guarantee]'"
    }
  ],
  "pinData": {},
  "connections": {
    "PLAY": {
      "main": [
        [
          {
            "node": "INSERT PLAY: TASK_EVENTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT PLAY: TASK_EVENTS": {
      "main": [
        [
          {
            "node": "STAGING_PLAY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STAGING_PLAY": {
      "main": [
        [
          {
            "node": "Call '[RunRun] [Tasks Working On Guarantee]'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '[RunRun] [Tasks Working On Guarantee]'": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "71efbc37-e66c-44c5-bf4b-ce1b741603af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5b98fa47ce01e3746cd403cb73e594cf1b27444e7eeb743ddda121d0332c710"
  },
  "id": "hvJfU65Y63IHsVxE",
  "tags": []
}