n8n/[RunRun] [Tasks Working On Guarantee].json
{
  "name": "[RunRun] [Tasks Working On Guarantee]",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "09ccc444-0e7a-4907-9035-5adb2a9530d7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "https://runrun.it/api/v1.0/tasks",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "is_working_on",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "App-Key",
              "value": "={{ $env.RUNRUN_APP_KEY }}"
            },
            {
              "name": "User-Token",
              "value": "={{ $env.RUNRUN_USER_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        80
      ],
      "id": "0e57e1e8-5b1d-40a7-a891-51ea1e13d6ae",
      "name": "TAREFAS TRABALHANDO"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        208
      ],
      "id": "db44ebbe-759a-4b2e-bb5c-b65f3cca8d99",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into runrun_raw.task_events (\n    event,\n    event_type,\n    task_id,\n    payload,\n    happened_at,\n    created_at\n)\nselect\n    'task_assignment:pause' as event,\n    'pause' as event_type,\n    tcs.task_id,\n    jsonb_build_object(\n        'happened_at', now(),\n        'forced', true,\n        'reason', 'reconciliation',\n        'performer', jsonb_build_object('id', tcs.performer_id),\n        'data', jsonb_build_object(\n            'task', jsonb_build_object(\n                'id', tcs.task_id,\n                'title', tcs.title,\n                'board', jsonb_build_object(\n                    'id', coalesce(\n                        dt.board_id,\n                        (\n                            select distinct on (id) board_id\n                            from runrun_raw.tasks\n                            where id = tcs.task_id\n                            order by id, _airbyte_extracted_at desc\n                        )\n                    )\n                )\n            )\n        )\n    ) as payload,\n    now() as happened_at,\n    now() as created_at\nfrom runrun_analytics.task_current_state tcs\nleft join runrun_analytics.dim_tasks dt on dt.task_id = tcs.task_id\nwhere tcs.current_status = 'play'\n  and not exists (\n    select 1\n    from jsonb_array_elements($1::jsonb) as task\n    cross join jsonb_array_elements(task -> 'assignments') as assignment\n    where (task ->> 'id')::bigint = tcs.task_id\n      and assignment ->> 'assignee_id' = tcs.performer_id\n      and (assignment ->> 'is_working_on')::boolean = true\n  )\n  and not exists (\n    select 1\n    from runrun_raw.task_events r\n    where r.task_id = tcs.task_id\n      and r.event_type = 'pause'\n      and (r.payload ->> 'forced')::boolean = true\n      and r.happened_at > now() - interval '2 minutes'\n);",
        "options": {
          "queryReplacement": "=={{ JSON.stringify($items(\"TAREFAS TRABALHANDO\").map(i => i.json)) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        464,
        80
      ],
      "id": "b8e021bf-d387-4277-851e-967ee6a9aa88",
      "name": "TASKS_INJECTION",
      "credentials": {
        "postgres": {
          "id": "Jztz3shgyqyCJR7y",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wyKDZ55JXLdWXqFN",
          "mode": "list",
          "cachedResultUrl": "/workflow/wyKDZ55JXLdWXqFN",
          "cachedResultName": "[RunRun] ACTIVE_USERS | Staging -> Analytics"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        704,
        80
      ],
      "id": "82e371b7-2498-40a3-82fd-15bc01835ba9",
      "name": "Call '[RunRun] ACTIVE_USERS | Staging -> Analytics'"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "TAREFAS TRABALHANDO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "TAREFAS TRABALHANDO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TAREFAS TRABALHANDO": {
      "main": [
        [
          {
            "node": "TASKS_INJECTION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TASKS_INJECTION": {
      "main": [
        [
          {
            "node": "Call '[RunRun] ACTIVE_USERS | Staging -> Analytics'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c6c3e4a2-81c0-4321-9552-40aae097de21",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5b98fa47ce01e3746cd403cb73e594cf1b27444e7eeb743ddda121d0332c710"
  },
  "id": "kYD15V7Znh5af7Yq",
  "tags": []
}
